.draggable-container {
  background-color: pink;
}

.draggable-items {
  background-color: #f2f2f2;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.draggable-list {
  margin: 10px;
  // list-style-image: url("/page/images/DragHandleMinor.png");
  list-style: none;
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
}

.btnContainer {
  text-align: center;
  margin-top: 25px;
}

.btnGreen {
  background-color: #5cbec1;
  border: none;
  width: 25%;
  padding: 10px 32px;
  margin: 5px;
  color: white;
}

.btnBlue {
  background-color: #5866bc;
  border: none;
  width: 25%;
  padding: 10px 32px;
  margin: 5px;
  color: white;
  text-decoration: none;
}
