.draggable-container {
  background-color: pink;
}

.draggable-items {
  background-color: #f2f2f2;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.draggable-list {
  margin: 10px;
  list-style: none;
}

.btnContainer {
  margin-top: 25px;
  display: flex;
  flex: row;
  justify-content: center;
}

.btnGreen {
  background-color: #5cbec1;
  border: none;
  padding: 8px 30px;
  margin: 5px;
  color: white;
}

.btnBlue {
  background-color: #5866bc;
  border: none;
  padding: 7px 30px;
  margin: 5px;
  color: white;
}

.btnRed {
  background-color: #e15a7a;
  border: none;
  padding: 8px 30px;
  margin: 5px;
  color: white;
}

.btnDisabled {
  background-color: gray;
  border: none;
  padding: 8px 30px;
  margin: 5px;
  color: white;
}

.btnDeleteX {
  border: none;
  margin: auto;
}

.linkBlue {
  background-color: #5866bc;
  color: white;
  text-decoration: none;
}
.header-name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  // background-color: #f2f2f2;
}

.header-textfield {
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: 300px 30px 20px auto 5px 20px;
  // background-color: #f2f2f2;
  margin: 0px 10px;
}

.header-container > div {
  padding: 5px 0;
}

.margin-auto {
  margin: auto;
}
.margin-top-30 {
  margin-top: 30px;
}

.margin-30 {
  margin: 30px;
}

.export-table {
  table-layout: auto;
  width: 100%;
  text-align: center;
}
